fastapi
uvicorn[standard]
pydantic
pydantic-settings
motor
pytest
python-dotenv
opencv-python-headless
ultralytics
httpx
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
python-multipart
email-validator
